<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<!-- A minimal Flowplayer setup to get you started -->
  

	<!-- 
		include flowplayer JavaScript file that does  
		Flash embedding and provides the Flowplayer API.
	-->
	<script type="text/javascript" src="../flowplayer-@FLOWPLAYER_JS_VERSION_INFO@.min.js"></script>
	
	<!-- some minimal styling, can be removed -->
	<link rel="stylesheet" type="text/css" href="style.css">
	
	<!-- page title -->
	<title>Minimal Flowplayer setup</title>

</head><body>

	<div id="page">
		
		<h1>Minimal Flowplayer setup</h1>
	
		<p>View commented source code to get familiar with Flowplayer installation.</p>
		
		<!-- this A tag is where your Flowplayer will be placed. it can be anywhere -->
		<a  
			 href="http://pseudo01.hddn.com/vod/demo.flowplayervod/flowplayer-700.flv"
			 style="display:block;width:520px;height:330px"  
			 id="player"> 
		</a> 
	
		<!-- this will install flowplayer inside previous A- tag. -->
		<script>
			flowplayer("player", "@PLAYER_SWF@", {
			    log: {
                    level: "debug",
                    filter: "org.flowplayer.controller.*"
                },
                plugins: {
                    controls: {
                        playlist: true
                    }
                },
                clip: {
                    baseUrl: 'http://blip.tv/file/get'
                },

                playlist: [
                    {

                        // baseUrl for both parent and instream clips
                        baseUrl: 'http://blip.tv/file/get',
                        url: "KimAronson-TwentySeconds58192.flv",
                        // duration for the parent clip
                        duration: 10,

                        // instream playlist
                        playlist: [

                            // before the parent clip starts (ie. "pre-roll")
                            {url: 'KimAronson-TwentySeconds59483.flv', duration: 2, position: 0},

                            // in the middle of the parent clip (ie. "mid-roll") starting at 5 seconds
                            {url: 'KimAronson-TwentySeconds58192.flv', duration: 3, position: 5},

                            // at the end of the parent clip (ie. "post-roll")
                            {url: 'KimAronson-TwentySeconds63617.flv', duration: 4, position: -1}
                        ]
                    },
                    {

                    // baseUrl for both parent and instream clips

                        url: "KimAronson-TwentySeconds58192.flv",
                        // duration for the parent clip
                        duration: 10,

                        // instream playlist
                        playlist: [

                            // before the parent clip starts (ie. "pre-roll")
                            {url: 'KimAronson-TwentySeconds59483.flv', duration: 2, position: 0},

                            // in the middle of the parent clip (ie. "mid-roll") starting at 5 seconds
                            {url: 'KimAronson-TwentySeconds58192.flv', duration: 3, position: 5},

                            // at the end of the parent clip (ie. "post-roll")
                            {url: 'KimAronson-TwentySeconds63617.flv', duration: 4, position: -1}
                        ]
                    }
                ]

			});
		</script>
	
		
		
		<!-- 
			after this line is purely informational stuff. 
			does not affect on Flowplayer functionality 
		-->

		<p>		
			If you are running these examples <strong>locally</strong> and not on some webserver you must edit your 
			<a href="http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager04.html">
				Flash security settings</a>. 
		</p>
		
		<p class="less">
			Select "Edit locations" &gt; "Add location" &gt; "Browse for files" and select
			flowplayer-x.x.x.swf you just downloaded.
		</p>
		
		
		<h2>Documentation</h2>
		
		<p>
			<a href="http://flowplayer.org/documentation/installation/index.html">Flowplayer installation</a>
		</p>

		<p>
			<a href="http://flowplayer.org/documentation/configuration/index.html">Flowplayer configuration</a>
		</p>

		<p>
			See this identical page on <a href="http://flowplayer.org/demos/example/index.htm">Flowplayer website</a> 
		</p>
		
	</div>
	
	
</body></html>